
body {
    background-color: white; /*#f2f2f291;*/ 
    cursor: auto;
    font-family: serif,'Roboto',sans-serif,Arial, Helvetica;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.centered-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-answers-subcontainer {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quiz-3-answer-subcontainer {
    width: 16cm; 
}

.introduction-heading {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.introduction-text {
    font-size:  25px;

}

.introduction-heading-box{
    
    display: flex;
    flex-direction: row;
    max-width: 20cm;
    margin-bottom: 20px;
}

.logo-chronopilot{
     position: absolute;
     left: 0;
     top: 5%;
     margin-bottom: 5px;
}

.logo-ugent{
    position: absolute;
    right: 0;
    top: 5%;
    margin-bottom: 5px;
}

.logo-EU-funded{
    position: relative;
    left: 0;
    top: 90%;
    margin-top: 5px;
}

.snapshot {
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.snapshot-instructions {
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.snapshot-cross-dot {
    width: 400px;
    height: 286px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.snapshot-instructions-arrow-keys {
    width: 240px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}


.consent-subcontainer {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
}

.comprehension-check-text {
    font-size: 25px;
}

.consent-form-paragraph {
    font-size: 20px;
    text-align: justify;
}

.writing-box {
    width: 200px;   /* Adjust 250px */
    height: 30px;  /* Adjust the height as needed */
    font-size: 20px;
}

.writing-box::placeholder {
    font-size: 15px; /* Adjust the font size as needed */
    /* Add other styles if desired */
}

.big-writing-box {
    width: 20cm;   /* Adjust the width as needed */
    height: 10cm;  /* Adjust the height as needed */
    font-size: 18px;
}

.big-writing-box-strategy {
    width: 20cm;   /* Adjust the width as needed */
    height: 10cm;  /* Adjust the height as needed */
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.small-writing-box {
    width: 20cm;   /* Adjust the width as needed */
    height: 4cm;  /* Adjust the height as needed */
    font-size: 18px;
}

.answerclick {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.strategy-answer-click {
    margin-right: 15px;
}


.feedback-correct {
    font-weight: bold;
    margin-left: 10px;
    display: none;
}

.feedback-incorrect {
    font-weight: bold;
    margin-left: 10px;
    display: none;
}

.areyousure {
    width: 10cm;
    height: 8cm;
    background-color: pink;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thank-you-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.audio-test-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 13cm;
}

.instructions-completed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 13cm;
}


/*-----------------------------------*/
/* Break */

.take-break {
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.take-break-text-box{
    max-width: 12cm;
    background-color: rgb(244, 232, 232);
    /*border: 0.7px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 20px;
    font-size:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.take-break-text {
    font-size:  25px;
}

.next-block-button {
    font-size:  30px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*-----------------------------------*/
/* Fixation cross */

#fixation-cross-template,
.fixation-cross {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross-line {
    position: absolute;
    background-color: black;
}

.horizontal-cross-line {
    width: 50px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-cross-line {
    width: 4px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------------*/
/* Triangle */

#fixation-triangle-template svg,
.fixation-triangle svg {
    display: block;
}

#fixation-triangle-template polygon,
.fixation-triangle polygon {
    fill: none;
    stroke: black;
    stroke-width: 4;
    stroke-linejoin: round;
}

/*-----------------------------------*/
/* Reproduction task */


.dot-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reproduction-message-container {
    width: 15cm;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------------*/

.instructionsMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    width: 10cm;
    height: 8cm;
    background-color: lightgreen;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-screen-message {
    width: 12cm;
    height: 14cm;
    background-color: rgb(246, 87, 114);
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch-window-message {
    width: 12cm;
    height: 14cm;
    background-color: rgb(246, 87, 114);
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time-limit-warning-message {
    width: 14cm;
    height: 12cm;
    background-color: rgb(247, 92, 118);
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 40px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.time-limit-warning-questionnaire-message {
    width: 12cm;
    height: 10cm;
    background-color: rgb(245, 182, 193);
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 40px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.time-limit-warning-text{
    font-size: 28px;
}


.attention-check {
    max-width: 20cm;
    max-height: 20cm;
    flex-direction: columns;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons-areyousure {
    flex-direction: row;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.quiz-answers-subcontainer input:checked + label + .feedback-correct {
    display: inline;
    color: green; 
}

.quiz-answers-subcontainer input:checked + label + .feedback-incorrect {
    display: inline;
    color: red; 
}

.quiz-answers-container  {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
}

.comprehension-check-answers-container  {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -25%;
}
.comprehension-check-answers-container-1  {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -5%;
}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.questionnaire {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.quiz {
    display: flex;
    flex-direction: column;
}

.finalQuestionnaire {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.question-text{
    font-size : 27px;
    font-family: serif
}

.horizontal-line {
    height: 2.5px;
    width: 300px;
    background-color: black;
}

/*.horizontal-line-get-bonus {
    height: 2.5px;
    width: 140px;
    background-color: black;
}

.up-container-get-bonus {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/

.up-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.quiz-answer-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.back-next-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.quiz-feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback-1 {
    display: flex;
    left: 5%
}

.feedback-2 {
    display: flex;
    left: 30%
}
.feedback-3 {
    display: flex;
    left: 55%
}

.feedback-4 {
    display: flex;
    left: 70%
}

.down-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.down-container-get-bonus {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/

.button-back {
    position: relative;
    transform: translateX(-50%);
    left:25%;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.button-next {
    position: relative;
    left:75%;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/*.numbers-get-bonus {
    font-size : 20px;
}*/


/*.symbol-get-bonus {
    font-size : 15px;
}*/

.rate-text{
    font-size : 20px;
    font-family: serif
}

.slider {
    width: 30cm;/*100%;*/
    position: relative;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: lightgrey;
    outline: none;
    margin: 5px 0;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    cursor: pointer;
}

.slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50%;
    cursor: pointer;
}

.slider .slider-ruler {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    width: 98.5%;
    margin-left: 0.8%;
    /*width: 98%;
    margin-left: 1%;*/
}

.slider .ruler-mark {
    position: relative;
    width: 1px;
    background-color: black;
    height: 10px;
}

.slider .ruler-mark.larger {
    height: 30px;
}

.slider .slider-numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    /*margin-left: 0.6%;*/
}

.slider .number {
    position: relative;
    text-align: center;
}

.large-number {
    margin-top: 40px;

}

.questionElement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;       
}

.question-title-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.submit-button {
    margin-top: 30px;  
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.explanation {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 10px;
}

.mistake{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 40px;
}

.button{    
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*.strategy-step-number {
    font-size: 30px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid black;
    height: 2.5cm;

    display: flex;
    justify-content: center;
    align-items: center;

}*/
 
.full-screen-button{
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.options-container {

    position: fixed;
    top: 40%;
    left: 70%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    margin-top: 30px;
}



.option-button-1 {

    position: absolute;  
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height:292px;
    width: 300px; 
    border: 2.5px solid black;
}

.option-button-1:disabled {
    opacity: 1; 
    cursor: default; 
}

.option-button-2 {
    position: absolute;  
    top: 8.5%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    /*margin: auto; */   
    height:292px;
    width: 300px;
    border: 2.5px solid black;
}

.option-button-3 {

    position: absolute;


    top: 50%;
    right: 0;
    transform: translateY(-50%);    

    height:292px;
    width: 300px;
    border: 2.5px solid black;
}


.options-row {
    display: flex;
    justify-content: center;
}

.explanation-buttons {
    display: flex;
    justify-content: center;
}

.comprehension-check-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5cm;

}

/*.options-button {
    margin: 30px;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 0.5px solid black;
    background-color: #ffffff;
    cursor: pointer;
    width: 150px;
    height: 100px;

}*/


.progress-bar {
    position: fixed;
    top: 0%;
    left: 80%;
    font-size: 40px;
    color: rgb(213, 209, 209)
}




.Incorrect{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px;
    color: red

}

.correct{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px;
    color: green

}

.countdown{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    padding: 10px;
}

.countdown-centred{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 10px;
}

.show-outcome{
    position: fixed;
    top: 40%;
    left: 70%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px;

    background-color: rgb(204, 202, 202);
    border: 0.5px solid black;
    width: 300px;
    height: 240px;
    display: none;
}

.instructions{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    top: 15%;
}

.button-instructions {
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
    /*height: 1.5cm;
    width: 3cm;*/
    padding:10px;
}

.button-instructions-understood {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
    /*height: 1.5cm;
    width: 3cm;*/
    padding:10px;
}

.start-practicing{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px;
    top: 25%;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/   
}

.consentForm{
    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.startQuiz{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.explanations{
    overflow: auto; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    text-align: justify;
}

.explanationBoxText{
    max-width: 20cm;
    background-color: rgb(244, 232, 232);
    /*border: 0.7px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /* Rounded borders */
    margin-bottom: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-container-box{
    width: 15cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /*margin-up: 20px;*/
}

.buttons-container-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    background-color: #ffffff;
    width: 20cm;    
}

.buttons-subcontainer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-sub-sub-container-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blocks-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1.5px solid black;
    background-color: #ffffff;
    width: 20cm;
    min-height: 5cm;
}

.blocks-container-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:17cm;

}


.start-practicing-box-text{
    max-width: 15cm;
    background-color: rgb(244, 232, 232);
    /*border: 0.7px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.instructionsMessageBoxText{
    max-width: 15cm;
    background-color: rgb(244, 232, 232);
    /*border: 0.7px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 20px;
}

.heading-instructions {
    max-width: 20cm;
    margin-bottom: 60px;
    font-size:36px;

}

.thank-you-text-box{
    max-width: 12cm;
    background-color: rgb(244, 232, 232);
    /*border: 0.7px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    padding: 20px;
    font-size:20px;
}



.bonus-feedback-text-box{
    max-width: 13.5cm;
    background-color: rgb(244, 232, 232);
    /*border: 1px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /* Rounded borders */
    padding: 40px;
    font-size:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.countdown-display{

    font-size: 60px
}

.consentBoxText{
    max-width: 20cm;
    background-color: rgb(230, 230, 230);
    /*border: 0.7px solid black;*/
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.QuizWarning{
   
   max-height: 5cm;
   max-width: 20cm;
   background-color: rgb(244, 232, 232);
   /*border: 0.7px solid black;*/
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 15px;
   margin-bottom: 20px;
   padding: 10px;
}

.explanationText{
    font-size:  25px;
}


.countdownText{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    padding: 10px;
}

.black-text {
    color: black;
    font-size: 40px;
}

.green-text {
    color: green;
    font-size: 40px;
}

.green-text-paragraph {
    color: green;
}


.green-outcome {
    color: green;
    font-size: 40px;
}

.orange-outcome {
    color: orange;
    font-size: 30px;
}

.red-outcome {
    color: red;
    font-size: 40px;
}

.red-text {
    color: red;
}

.orange-text {
    color: orange;
}

/*-----------------------------------*/
/* Questionnaire */

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;       
}

.submit-answers-button{
    height: 1.5cm;
    width: 5cm;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.circle-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;      
}

.rateblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}        

.circle-label input {
    display: none;
}

.circle-label label {    
    width: 40px;
    height: 40px;    
    background-color: #ccc;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.circle-label input:checked ~ label {
    background-color: orange;
}

/*-----------------------------------*/
/* Main container */
       
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*-----------------------------------*/
/* Screen size checking */

.big-container-screen-size {
    height: 17cm;
    width: 20cm;
    background-color: peachpuff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;

}

.small-container {
    width: 14cm;
    height: 14cm;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;*/
}

.screen-size-top-left-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5cm;
    height: 1.5cm;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.screen-size-top-right-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5cm;
    height: 1.5cm;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.screen-size-bottom-left-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5cm;
    height: 1.5cm;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.screen-size-bottom-right-button {
    position: absolute;
    bottom: 0;
    right: 0; 
    width: 1.5cm;
    height: 1.5cm; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.big-big-container {
    width: 23cm;
    height: 20cm;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-size-big-text {
    font-size: 35px;
}

.screen-size-text {
    font-size: 25px;
}

/*-----------------------------------*/
/* Timing instructions */

.timing-instructions {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: justify;
}

.timing-instructions-container {
    /*height: 17cm;*/
    width: 20cm;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timing-diagram {
    width: 20cm;
    /*height: 600px;*/
    margin-bottom: 30px;
    margin-top: 30px;
}

.snapshot-timing-diagram {
    width: 20cm;
    height: 260px;
    margin-bottom: 30px;
    margin-top: 30px;
}


/*-----------------------------------*/
/* Experiment and practice rounds easthetics*/

.big-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background:lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.arrow-keys-message-container {
    width: 15cm;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;      /* vertical centering */
    justify-content: center;  /* horizontal centering */
}

.option-buttons-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 20cm;
    height: 4cm;
}


.blue-flash {
    border: 4px solid blue !important;
}
.start-button-container {
    position: absolute;
    bottom: 0%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.option-button-right {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    height: 3.3cm;
    width: 6cm;
    background-color: peachpuff;
    pointer-events: none;
    cursor: default;
}


.option-button-left {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    height: 3.3cm;
    width: 6cm;
    background-color: peachpuff;
    pointer-events: none;
    cursor: default;
}

.numbers {
    font-size : 40px;
}

.symbol {
    font-size : 40px;
}

.options-text {
    font-size : 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.option-subcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.option-subsubcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5cm;
}

/*-----------------------------------*/
/* Missed deadline warning message*/

.missed-deadline-warning-message{
   
    width: 20cm;
    height: 15cm;
    background-color: rgb(221, 245, 247);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 40px;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.missed-deadline-warning-text{
    font-size: 30px;
}
.red-missed-deadline-warning-text{
    font-size: 40px;
    color: red;
}

.missed-deadline-button{
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}



/*-----------------------------------*/
/* Performance bonus */

.option-button-get-bonus {
    position: relative;  
    height: 140px;
    width: 140px; 
    /*border: 2.5px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /* Rounded borders */
    margin-top: 3px;
}


option-button-get-bonus:hover {  background: darkgreen;  color: white;}

.click-on-spin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

.rounds-subcontainer-get-bonus {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.selected-rounds-sub-get-bonus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-rounds-get-bonus {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /* Rounded borders */
    background-color: rgb(205, 222, 205);
    width: 20cm;
    height: 14cm;
    margin-top: 30px;
    align-items: center;
}

.selected-rounds-get-bonus-practice {
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /* Rounded borders */
    background-color: rgb(205, 222, 205);
    width: 14cm;
    min-height: 7cm;
    max-height: 10cm;
    margin-top: 30px;
    align-items: center;
}

.spin-button {
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.numbers-bonus {
    font-size : 20px;
}

.symbol-bonus {
    font-size : 15px;
}

.options-text-bonus {
    font-size : 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.round-text-get-bonus {
    font-size : 22px;
    margin-bottom: 1px;

}

.option-subcontainer-bonus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2cm;
}
    

.total-earned-container {
    margin-top: 30px; 
    margin-bottom: 30px; 
    display: flex;
    justify-content: center;
}


#slotMachine {

    position: relative;
    width: 20cm; 
    height: 15cm;
    background-color:gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .reel-container-up {
    display: flex;
    margin-bottom: 20px; 
  }

  .reel-container-down {
    display: flex;
    margin-bottom: 20px; 
  }
  
  .reel {
    width: 140px;
    height: 140px;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px; /*15px*/
    margin: 10px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  #practiceSlotMachine {

    position: relative;
    width: 14cm; 
    height: 9cm; 
    background-color:gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .reel-container {
    display: flex;
    margin-bottom: 20px; 
  }
  
  .practice-reel {
    width: 140px;
    height: 140px;
    /*border: 2px solid black;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin: 10px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  

.bonus-feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bonus-feedback-heading {
    text-align: center;   
}


 

       
       
